
:root {
    --base-transition-speed-fast-5: 250ms;
    --base-transition-speed-fast-4: 300ms;
    --base-transition-speed-fast-3: 350ms;
    --base-transition-speed-fast-2: 400ms;
    --base-transition-speed-fast-1: 450ms;
    --base-transition-speed: 500ms;
    --base-transition-speed-slow-1: 550ms;
    --base-transition-speed-slow-2: 600ms;
    --base-transition-speed-slow-3: 650ms;
    --base-transition-speed-slow-4: 700ms;
    --base-transition-speed-slow-5: 750ms;
}

a {
    text-decoration: none !important;
}

.v-stepper {
    transition: background-color var(--base-transition-speed) ease-in-out;
}

.tran-spd-normal {
    transition: all var(--base-transition-speed) ease-in-out !important;
}

.tran-spd-fast-1 {
    transition: all var(--base-transition-speed-fast-1) ease-in-out !important;
}

.tran-spd-fast-2 {
    transition: all var(--base-transition-speed-fast-2) ease-in-out !important;
}

.tran-spd-fast-3 {
    transition: all var(--base-transition-speed-fast-3) ease-in-out !important;
}

.tran-spd-fast-4 {
    transition: all var(--base-transition-speed-fast-4) ease-in-out !important;
}

.tran-spd-fast-5 {
    transition: all var(--base-transition-speed-fast-5) ease-in-out !important;
}

.tran-spd-slow-1 {
    transition: all var(--base-transition-speed-slow-1) ease-in-out !important;
}

.tran-spd-slow-2 {
    transition: all var(--base-transition-speed-slow-2) ease-in-out !important;
}

.tran-spd-slow-3 {
    transition: all var(--base-transition-speed-slow-3) ease-in-out !important;
}

.tran-spd-slow-4 {
    transition: all var(--base-transition-speed-slow-4) ease-in-out !important;
}

.tran-spd-slow-5 {
    transition: all var(--base-transition-speed-slow-5) ease-in-out !important;
}

.font-family-montserrat {
    font-family: Montserrat !important; 
    font-weight: 500 !important;
    /* cursor: default !important; */
}

@media screen and (min-width: 1264px) {
    .MainComponentMargin {
        margin-top: 40vh !important;
    }
}
