
.outlined {
    border: thin solid var(--border-d-base);
}

.card-title {
    border-radius: 4px;
    position: sticky !important;
    top: 0 !important;
    z-index: 100;
    border-bottom: thin solid var(--border-d-base);
    background: var(--v-gray-95-base);
}

[theme=dark] .card-title {
    background: var(--v-gray-85-base);
}

.card-actions {
    border-radius: 4px;
    position: sticky !important;
    bottom: 0 !important;
    z-index: 100;
    border-top: thin solid var(--border-d-base);
    background: var(--v-gray-95-base);
}

[theme=dark] .card-actions {
    background: var(--v-gray-85-base) !important;
}